Mapgen/Airtags.csv
Airtagsold.csv
Mapgen/Items.data
views/Map/map.html
Mapgen/ItemsToTrack.py
public/airpodsmap.html
Mapgen/airpoditem.py
Mapgen/__pycache__
api/._.DS_Store
api/VideoDownload/path.py
api/VideoDownload/._path.py
api/VideoDownload/._downloadvid.py
api/VideoDownload/._path~.py

password.js
node_modules
.DS_Store
ordertrack/orderkey.py
ordertrack/appleordershippingstatus.json
ordertrack/orderstatusoutput.json
__pycache__
*.json

# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode

# Misc
assets/js/dist
