<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA_Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" href="style/mainstyle.css">
<style>
    .fullwidthcontainer{
        padding-top: 5em;
        height: 70dvh;
    }

    .title {
    line-height: 1;
    color: #ded2b4;
    font-family: serif;
    font-size: 300%;
    font-weight: 500;
    font-stretch: 50%;
    text-align: center;
    }

    .maintext{
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: #97b2cf;
font-size: 140%;

}

    .maintext uem{
  color: #bcbcaec8;
  /* text-decoration: none; */
}
.maintext a{
  width: 150px;
  height: 100px;
  text-decoration: underline;
  color: #ded2b4;
}

#open-web-calendar{


border-radius: 15px;


}
    
</style>
</head>
<body>
    <div class="background">
        <div class="topnav">
            <a href="/" >Tongtong.inc</a>
        </div>

        <div class="fullwidthcontainer">
           
          <iframe id="open-web-calendar" 
    src="https://open-web-calendar.hosted.quelltext.eu/calendar.html?url=https%3A%2F%2Fp112-caldav.icloud.com%2Fpublished%2F2%2FMTcwOTk5MTk1MDUxNzA5OelM_8yjcgEWIuICpGXhtcfgBjVf15G0GIJ6ijaXZecr5o64EXaLtV38W-HgkgPIf_HVv8E9vMUh0-wjkGuUxOY&amp;skin=dhtmlxscheduler_contrast_black.css&amp;start_of_week=su&amp;css=.dhx_cal_navline%2C%20.dhx_scale_bar%2C%20.dhx_cal_container%2C%20.dhx_cal_header%20%7Bbackground-color%3A%20%23141526%3B%7D%0A.event%2C%20.dhx_cal_tab.active%2C%20.dhx_cal_tab.active%3Ahover%20%7Bbackground-color%3A%20%2359728f%3B%7D%20.dhx_month_head%2C%20.dhx_cal_tab%2C%20.dhx_cal_today_button%20%7Bcolor%3A%20%2359728f%3B%7D%20.dhx_cal_tab%2C%20.dhx_cal_tab.active%20%7Bborder-color%3A%20%2359728f%3B%7D%0A.dhx_scale_holder_now%2C%20.dhx_now%20.dhx_month_head%2C%20.dhx_now%20.dhx_month_body%20%7B%20background-color%3A%20%2316182b%3B%7D%0A.dhx_month_body%2C%20.dhx_month_head%2C%20.dhx_cal_container%20%7B%20background-color%3A%20%230e0f1c%3B%20%7D%0A.dhx_after%20.dhx_month_body%2C%20.dhx_before%20.dhx_month_body%2C%20.dhx_after%20.dhx_month_head%2C%20.dhx_before%20.dhx_month_head%20%7B%20background-color%3A%20%230c0d17%3B%20%7D%0A&amp;loader="
    sandbox="allow-scripts allow-same-origin allow-top-navigation"
    allowTransparency="true" scrolling="no" 
    frameborder="0" height="100%" width="100%"></iframe>
         


       

        </div>
            

        <a href="/" class="hstack">
            
            <div class="conic backbutton" >

                <svg viewbox="0 0 1000 1000" class="squircle">
                  <path d="M0 450C0 300 50 250 200 250L800 250C950 250 1000 304.78 1000 450L1000 550C1000 700 950 750 800 750L200 750C50 750 0 700 0 550L0 450Z" fill="var(--bg)"></path>
                </svg>
                Back
              </div>
            </a>

        

    </div>
    <div class="dropoff">

            
    </div>
</body>

</html>
