<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA_Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>onestep</title>

    <style>
        /* *{
          outline-style:auto; 
        } */
        body {
            height: 100vh;

            background: #1c1d2c;
            color: #606468;
            font: 87.5%/1.5em 'Open Sans', sans-serif;
            margin: 0;
            display: grid;
            place-items: center;
            
            }  

            .fillspace{
              width: 90vw;
              height: 90vh;
              /* outline-style:auto;  */
              margin-top: 5%;
              margin-bottom: 10%;
            }
            
            input {
            border: none;
            font-family: 'Open Sans', Arial, sans-serif;
            font-size: 16px;
            line-height: 1.5em;
            padding: 0;
            -webkit-appearance: none;
            }

            p {
            line-height: 1.5em;
            }

            after { clear: both; }

           
            #login {

            width: 60vw;
            display: block;
            justify-content: center;
            align-items: center;
            /* left: -22px; */
           
            }

            #login form {
                
            /* margin: auto; */
            padding: 22px 22px 22px 22px;
            width: 100%;
            border-radius: 20px;
            
            background: #1c1d2c;
            margin-left: -22px;
            box-shadow:
            -10px -10px 30px 1px #ffffff11,
            -6px -6px 10px 2px #ffffff11,
            10px 10px 30px 1px #000000b9,
            6px 6px 10px 2px #000000b9;
            
            /* outline: auto; */


            }

     

            #login form input[type="password"] {
            background-color: #1c1d2c;
            
            opacity: 1;
            box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.135),
            inset 8px 8px 16px rgba(0, 0, 0, 0.605);
           
            border-radius: 8px;
            color: #a9a9a9;
            margin-bottom: 1em;
            /* text-margin: 3px; */
            padding: 0 16px;
            width: 100%;
            height: 50px;
            box-sizing: border-box;
            }

            #login form input[type="submit"] {
            background: #a4ab8d;
            border: 0;
            width: 100%;
            height: 40px;
            border-radius: 8px;
            color: white;
            cursor: pointer;
            transition: background 0.25s ease-in-out;
            box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.135),
            inset 8px 8px 16px rgba(0, 0, 0, 0.605);
            }
            #login form input[type="submit"]:hover {
            background: #525e57;
            }

            /* custom back button below */
            
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* .conic {
  display: flex;
} */

.conic {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  filter: drop-shadow(0px 0px 0px rgb(0 0 0 / 0.4));
  position: relative;
  width: 150px;
  height: 100px;
  /* outline: auto; */
  display: grid;
  place-items: center;
  margin: 0 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #b8b8b8;
  /* top: 0px; */

  /*   
  filter: drop-shadow(-4px -4px 8px rgba(255, 255, 255, 0.135))
    drop-shadow(8px 8px 16px rgba(0, 0, 0, 0.605)); */

  filter: drop-shadow(-4px -4px 8px rgba(255, 255, 255, 0.135))
    drop-shadow(8px 8px 16px rgba(0, 0, 0, 0.605));

  /*   filter: drop-shadow(4px 4px 5px rgba(50, 50,50, .6)); */
}

.conic .squircle {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
    /* outline: auto; */
  --bg: #1c2d40;
}

.conic:hover {
  color: #efeac8;
  transform: scale(0.98);

  /*    filter: 
    drop-shadow(4px 4px 5px rgba(50, 50,50, .6))
   drop-shadow(-5px -5px 15px rgba(0, 0, 0, .8)); */
  filter: drop-shadow(-3px -3px 5px rgba(255, 255, 255, 0.1))
    drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.605));
}

.conic:active {
  filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.2))
    drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.605));

  top: 3px;
}


a{
  width: 150px;
  height: 100px;
}

            
.hstack{
    /* outline: auto; */
    display: flex;
    justify-content: center;
            align-items: center;
            text-decoration: none;
            /* width: 150px;
  height: 100px; */
            
    
}

.title {
    line-height: 1;
    color: #ded2b4;
    font-family: serif;
    font-size: 400%;
    font-weight: 500;
    font-stretch: 50%;
    margin-top: 1%;
    /* margin-bottom: 2%; */
    text-align: center;
    transform: scale(.8);

    }


    </style>
</head>
<body>
 
  <div class="title">
    one step further
  </div>
  <p>

    place holder 
  </p>
      
      <div class="hstack">
        <a href="/" class="hstack">
            
            <div class="conic" >

                <svg viewbox="0 0 1000 1000" class="squircle">
                  <path d="M0 450C0 300 50 250 200 250L800 250C950 250 1000 304.78 1000 450L1000 550C1000 700 950 750 800 750L200 750C50 750 0 700 0 550L0 450Z" fill="var(--bg)"></path>
                </svg>
                Back
              </div>
            </a>

          </div>
        
  
</body>

</html>