<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tongnong's random 3d stuff
    </title>
</head>
<body>
    <h> lok at da tree dee fiels </h>

    <div>

        <h2>AR (USDZ) file from <a href="https://developer.apple.com/augmented-reality/quick-look/">Apple</a></h2>

        <a href="/usdz/RevoluteV2.2.usdz" rel="ar" target="_blank">
            <img    
        src="https://developer.apple.com/augmented-reality/quick-look/models/drummertoy/drummertoy.jpg" 
        srcset="https://developer.apple.com/augmented-reality/quick-look/models/drummertoy/drummertoy_2x.jpg" alt="" />
    
    </a>
    </div>



</body>
</html>