<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 3d stuff
    </title>

    <style>


        body {
    background-color: rgb(11, 43, 54);  
    }  
 
        .list {

        border-radius: 17px;
        height: 20vh; /* Center vertically within the viewport */
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 32px;
        box-shadow: 0 0 40px 10px #0b0c1a;
        transform: scale(.9);
        margin-bottom: -4%;
        /* transform: translate(50%,0%); */
        /* margin: auto; */
        margin-top: 10%;
        margin-right: auto;
        margin-left: auto;    
        font-family: "Papyrus" ;
        /* overflow: hidden; */
        }

        .icon {
            
            width: 20vh;
            align: right;
            margin-right: -5%;    
        }
        .text {
            /* margin-left: 10%;    */
            text-align: left;

        }
    </style>
</head>
<body>
    <h1> lok at da tree dee fiels </h1>
    <h1> tap da tree dee fiels to see </h1>
    <h1> must need iphone to wrok </h1>

    
        <div class="list">
        <div class="text"> RevoluteV2</div>

        <a href="/usdz/RevoluteV2.2.usdz" rel="ar" target="_blank">
            <img  class="icon" align="right" src="/usdz/Preview/revolute.png" alt="" />
        </a>
        </div>

    <p><a href="/">go bacc</a></p>



</body>
</html>