<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA_Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3D</title>
    <link rel="stylesheet" href="style/mainstyle.css">
<style>


    .title {
    line-height: 1;
    color: #ded2b4;
    font-family: serif;
    font-size: 300%;
    font-weight: 500;
    font-stretch: 50%;
    text-align: center;
    }

    .maintext{
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: #97b2cf;
font-size: 140%;


}

    .maintext uem{
  color: #bcbcaec8;

}
.maintext a{
  width: 150px;
  height: 100px;
  text-decoration: underline;
  color: #ded2b4;

}

.gridcontainer{

    justify-items: center;
    width:85dvw;
    display: grid;
    margin-top:6em;
    display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  grid-auto-flow: row dense;


  }

  .icon{
    
    max-height: 100%;
    max-width: 300px;
    width: auto;
  height: auto;
  }
  .box{


    background-color: #161925;
    border-radius: 15px;
    width: fit-content;
    height: fit-content;
    overflow: hidden;

    box-shadow:
            -10px -10px 30px 1px #ffffff08,
            -6px -6px 10px 2px #ffffff08,
            10px 10px 30px 1px #00000056,
            6px 6px 10px 2px #00000056;

  }
  .vstack{
    justify-content: center;
  }
    
</style>
</head>
<body>
    <div class="background">
        <div class="topnav">
            <a href="/" >Tongtong.inc</a>
        </div>
        
        <div class="gridcontainer">
            <div class="vstack">

                <div class="heading title">
                    3d models
                    
        
                </div>
                <div class="text maintext">
                    Tap on image for AR preview (only works on iPhone & iPad)
                </div>
            </div>

            
            <div class="box">
                <div class="vstack">
                    <div class="text maintext">
                        Mole
                    </div>
                    <a href="/usdz/Mole.usdz" rel="ar" target="_blank">
                        <img  class="icon" align="center" src="/usdz/Preview/Mole.png" alt="" />
                    </a>
                </div>
                
            </div>


            <div class="box">
                <div class="vstack">
                    <div class="text maintext">
                        Revolute
                    </div>
                    <a href="/usdz/RevoluteV2.2.usdz" rel="ar" target="_blank">
                        <img  class="icon" align="center" src="/usdz/Preview/revolute.png" alt="" />
                    </a>
                </div>
                
            </div>
            



            <div class="box">
                <div class="vstack">
                    <div class="text maintext">
                        Revolute Magnetics
                    </div>
                    <a href="/usdz/RevoluteV2.2 magnetics.usdz" rel="ar" target="_blank">
                        <img  class="icon" align="center" src="/usdz/Preview/revolute magnetics.png" alt="" />
                    </a>
                </div>
                
            </div>





            <div class="box">
                <div class="vstack">
                    <div class="text maintext">
                        Keyboard exploded view
                    </div>
                    <a href="/usdz/KeyboardExploded.usdz" rel="ar" target="_blank">
                        <img  class="icon" align="center" src="/usdz/Preview/Keyboard exploded.png" alt="" />
                    </a>
                </div>
                
            </div>
            

            <div class="box">
                <div class="vstack">
                    <div class="text maintext">
                        Soldering Station
                    </div>
                    <a href="/usdz/ironholder.usdz" rel="ar" target="_blank">
                        <img  class="icon" align="center" src="/usdz/Preview/IronHolder.png" alt="" />
                    </a>
                </div>
                
            </div>



            <div class="box">
                <div class="vstack">
                    <div class="text maintext">
                        Maxwell
                    </div>
                    <a href="/usdz/maxwell.usdz" rel="ar" target="_blank">
                        <img  class="icon" align="center" src="/usdz/Preview/maxwell.png" alt="" />
                    </a>
                </div>
                
            </div>
            





        
        

        </div>    





        <a href="/" class="hstack">
            
            <div class="conic backbutton" >

                <svg viewbox="0 0 1000 1000" class="squircle">
                  <path d="M0 450C0 300 50 250 200 250L800 250C950 250 1000 304.78 1000 450L1000 550C1000 700 950 750 800 750L200 750C50 750 0 700 0 550L0 450Z" fill="var(--bg)"></path>
                </svg>
                Back
              </div>
            </a>

        

    </div>
    <div class="dropoff">

            
    </div>
</body>

</html>
