<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tongtong.inc</title>
    <!-- <link rel="shortcut icon" type="image/" href="../icons/favicon.ico"> -->
    <link rel="icon" type="image/png" href="http://localhost:3000/images/favicon">

</head>
<body>
    <h>velcom to mine webse ite :)</h>

</body>
</html>