<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>map</title>
 <style>
    .center-shadow {

    border-radius: 17px;
    height: 100vh; /* Center vertically within the viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    box-shadow: 0 0 40px 10px #0b0c1a;
    transform: scale(.8);
    margin-bottom: -4%;
    overflow: hidden;
    
    }
 </style>
    
</head>
<body>

  
    <h>hehe noice password no yu kan trak airteg</h>
    <div class="center-shadow" >
    <%- include ('map.html') %> 
    </div>


        

</body>
</html> 