<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA_Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/track" method="POST">
        <label>Pass Word
            <!-- <input type="text" name="passWord" value="<%= locals.passWord %>"/> -->
            <input id="password-text-field"
            
            type="password" 
            name="passWord" 
            value="<%= locals.passWord %>"
            />

            <!-- autocomplete="current-password" -->


            <!-- <label for="username">Username</label>
            <input type="text" name="username" /> -->
        </label>
        <button type="submit">Submit</button>
        <h1>uh o lok liek yu ned a paswsord</h1>
    </form>
</body>
</html>