<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA_Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map Login</title>

    <style>
        body {
            
            background: #1c1d2c;
            color: #606468;
            font: 87.5%/1.5em 'Open Sans', sans-serif;
            margin: 0;
            }  
            
            input {
            border: none;
            font-family: 'Open Sans', Arial, sans-serif;
            font-size: 16px;
            line-height: 1.5em;
            padding: 0;
            -webkit-appearance: none;
            }

            p {
            line-height: 1.5em;
            }

            after { clear: both; }

            .center{
                display: flex;
            justify-content: center;
            align-items: center;
            /* margin-top: 30vh;  */
            transform: scale(.9);

            }
            #login {
            margin: 50px auto;
            width: 320px;
           
            }

            #login form {
            margin: auto;
            padding: 22px 22px 22px 22px;
            width: 100%;
            border-radius: 20px;
            background: #1c1d2c;

            box-shadow:
            -10px -10px 30px 1px #ffffff11,
            -6px -6px 10px 2px #ffffff11,
            10px 10px 30px 1px #000000b9,
            6px 6px 10px 2px #000000b9;
            
            


            }

     
           

            #login form input[type="password"] {
            background-color: #1c1d2c;
            
            opacity: 1;
            box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.135),
            inset 8px 8px 16px rgba(0, 0, 0, 0.605);
           
            border-radius: 8px;
            color: #a9a9a9;
            margin-bottom: 1em;
            text-margin: 3px;
            padding: 0 16px;
            width: 289px;
            height: 50px;
            }

            #login form input[type="submit"] {
            background: #a4ab8d;
            border: 0;
            width: 100%;
            height: 40px;
            border-radius: 8px;
            color: white;
            cursor: pointer;
            transition: background 0.3s ease-in-out;
            box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.135),
            inset 8px 8px 16px rgba(0, 0, 0, 0.605);
            }
            #login form input[type="submit"]:hover {
            background: #525e57;
            }

            /* custom back button below */
            .custom-btn {
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block; 
    background-color: #1c2d40;
    border-radius: 10px;
    margin-left: 2%;
    box-shadow:
    -7px -7px 20px 0px #ffffff11,
    -4px -4px 5px 0px #ffffff11,
    7px 7px 20px 0px #0000007d,
    4px 4px 5px 0px #0000007d;

    
    }
   
    .slideleft {
    border: none;
    color: #8b8b8b;
    z-index: 1;
    }

    .slideleft:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;

    box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.135),
            inset 8px 8px 16px rgba(0, 0, 0, 0.605);

    
    transition: all 0.3s ease;
    border-radius: 10px;
    
    }

    .slideleft:hover {
    color: #efeac8;
   
    }

    .slideleft:hover:after {
    left: 0;
    width: 100%;
    }

    .slideleft:active {
    top: 2px;
    
    }
    .wrapper {
        display: flex;
            justify-content: center;
            align-items: center;
            /* margin-top: 30vh;  */
            transform: translateY(800%);
 
}
    
    </style>
</head>
<body>
 
  
<div class="wrapper" >
        <a href="/" >
            <button href="/" class="custom-btn slideleft" >Back</button>
            </a>
    </div>
        

    
    <div id="login" class="center">
      <form name='form-login' action="/track" method="POST">
        <input type="password" name="passWord" value="<%= locals.passWord %>" id"pass" placeholder="Password">
        <input type="submit" value="Enter">
      </form>
    <div>

  
</body>
</html>