<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA_Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>

    <style>
        /* *{
          outline-style:auto; 
        } */
        .fillspace{
               display: grid;
            place-items: center;
               
              /* outline-style:auto; 
              margin-top: 5%;
              margin-bottom: 10%;  */
            }
        body {
            height: 100vh;
            /* width: 99vw; */
            background: #1c1d2c;
            color: #606468;
            font: 87.5%/1.5em 'Open Sans', sans-serif;
            margin: 0;
            /* display: grid;
            place-items: center; */
            
            
            }  
            /* *{outline: auto;} */

    

            p {
            line-height: 1.5em;
            }


            /* custom back button below */
            
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* .conic {
  display: flex;
} */

.conic {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  filter: drop-shadow(0px 0px 0px rgb(0 0 0 / 0.4));
  position: relative;
  width: 150px;
  height: 100px;
  
  /* outline: auto; */
  display: grid;
  place-items: center;
  margin: 0 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #b8b8b8;
  /* top: 0px; */

  /*   
  filter: drop-shadow(-4px -4px 8px rgba(255, 255, 255, 0.135))
    drop-shadow(8px 8px 16px rgba(0, 0, 0, 0.605)); */

  filter: drop-shadow(-4px -4px 8px rgba(255, 255, 255, 0.135))
    drop-shadow(8px 8px 16px rgba(0, 0, 0, 0.605));

  /*   filter: drop-shadow(4px 4px 5px rgba(50, 50,50, .6)); */
}

.conic .squircle {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
    /* outline: auto; */
  --bg: #1f2132;
}

.conic:hover {
  color: #efeac8;
  transform: scale(0.98);

  /*    filter: 
    drop-shadow(4px 4px 5px rgba(50, 50,50, .6))
   drop-shadow(-5px -5px 15px rgba(0, 0, 0, .8)); */
  filter: drop-shadow(-3px -3px 5px rgba(255, 255, 255, 0.1))
    drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.605));
}

.conic:active {
  filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.2))
    drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.605));

  top: 3px;
}


/* a{
  width: 150px;
  height: 100px;
  text-decoration: underline;
  color: #ded2b4;

} */

            
.hstack{
    /* outline: auto; */
    display: flex;
    justify-content: center;
            align-items: center;
            text-decoration: none;
            /* width: 150px;
  height: 100px; */
            
    
}
/* *{outline: auto;} */


.maintext{
  
  /* margin-bottom: 10%;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 20%; */
color: #97b2cf;
margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 10%;
  margin-right: 10%;
/* font-family: serif; */
/* font-stretch: 50%; */
/* color: #97b2cf; */
/* display: flex;     */
font-size: 150%;

/* width: 90%; */
/* outline: auto; */
/* justify-content: center; */
/* align-items: center; */
/* transform: scale(.8); */
/* margin-bottom: -10%; */
/* text-align: center; */
}


.title {
    line-height: 1;
    color: #ded2b4;
    font-family: serif;
    font-size: 400%;
    font-weight: 500;
    font-stretch: 50%;
    margin-top: 1%;
    /* margin-bottom: 2%; */
    text-align: center;
    transform: scale(.8);

    }

    #vstack{
  display: grid;
  align-items: center;
  justify-content: center;
  width: 90vw;
  /* outline: auto; */

}

.maintext em{
  color: #bcbcaec8;
}
.maintext a{
  width: 150px;
  height: 100px;
  text-decoration: underline;
  color: #ded2b4;
}

.socialicon{
  /* fill: #97b2cf; */
  width: 40%;

}

@font-face {
            font-family: "Profbens";
            src: url(fonts/profbens-eaome.otf) ;
        }
 
        .topnav {
  overflow: hidden;
  /* outline: auto; */
  height: 5em;
  display: flex;
  align-items: left;
  /* background-color: #333; */
}
.topnav a {
  /* outline: auto; */
  /* float: left; */
  color: #f2f2f2;
  /* text-align: center; */
  /* padding: 10% 10%; */
  margin-top: 1em;
  margin-left: 1em;
  text-decoration: none;
  font-size: 2em;
  /* height: 10%; */
  font-family: "Profbens";
  font-weight: bold;
  color: #ded2b4;
  /* box-shadow: 0 0 3rem #f5dfa2; */

}




    </style>
</head>
<body>

  <div class="topnav">
    <a href="/" >Tongtong.inc</a>

  </div>
<div class="fillspace">
 <div id="vstack"> 
  <div class="title">
    About me
  </div>
  <p class="maintext">
    Rando kid that makes stuff, master of jank and bodging, visionary of bad ideas
    <br>
    <br>
    Ive touched: <em>pcb design, industrial design, 3d modeling, 3d animation, fullstack web development, embedded programming, ios app development</em>
    <br>
    <br>

  </p>
  <br>
  
  <div class="title">
    Contact
  </div>

  <p class="maintext">
 
    if you want to help, have an idea, or just wanna be friends, send me an email:
    <a href = "mailto: tongtong@tongtonginc.com">tongtong@tongtonginc.com</a>
  </p>
      

  <br>
  <br>

  <div class="title">
    Socials
  </div>
  <br>
  <br>
  <div class="hstack">
    <a href="https://www.instagram.com/tongtong_inc" class="hstack">
        
        <div class="conic" >
          <img src="images/instagram.svg" alt="instagramicon" class="socialicon" />
            <svg viewbox="0 0 1000 1000" class="squircle">
              <path d="M300 0C100 0 0 100 0 300L0 700C0 900 100 1000 300 1000L700 1000C900 1000 1000 900 1000 700L1000 300C1000 100 900 0 700 0L300 0Z" fill="var(--bg)"></path>
            </svg>
            
          </div>
        </a>


        <a href="https://github.com/tongtongwang86?tab=repositories" class="hstack">
        
          <div class="conic" >
            <img src="images/github.svg" alt="githubicon" class="socialicon" />
              <svg viewbox="0 0 1000 1000" class="squircle">
                <path d="M300 0C100 0 0 100 0 300L0 700C0 900 100 1000 300 1000L700 1000C900 1000 1000 900 1000 700L1000 300C1000 100 900 0 700 0L300 0Z" fill="var(--bg)"></path>
              </svg>
              
            </div>
          </a>


      </div>



      <br>
      <br> 
      
    
      <br>

      <div class="hstack">
        <a href="/" class="hstack">
            
            <div class="conic" >

                <svg viewbox="0 0 1000 1000" class="squircle">
                  <path d="M0 450C0 300 50 250 200 250L800 250C950 250 1000 304.78 1000 450L1000 550C1000 700 950 750 800 750L200 750C50 750 0 700 0 550L0 450Z" fill="var(--bg)"></path>
                </svg>
                Back
              </div>
            </a>

          </div>
        </div>
        
      </div>
</body>

</html>
